@model Procrastinate.Models.ApiResults


@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="/" asp-action="Index">
    <p>
        Title: <input type="text" name="search">
        <input type="submit" value="Search" />
    </p>
</form>

@foreach (var articles in Model.Articles)
{
    @foreach (var item in articles.Hits)
    {
        @if (!String.IsNullOrEmpty(item.Url))
        {
            <div class="card">
                <div class="card-body">
                    <h5>@item.Title</h5>
                    <a class="card-link" target="_blank" href="@item.Url">@item.Url</a>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" name="Title" value="@item.Title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="Href" value="@item.Url" class="form-control" />
                            <span asp-validation-for="Articles" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        }
    }
}