@model Procrastinate.Models.Articles


@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model.Hits)
{
    <div class="card">
        <div class="card-body">
            <h5>@item.Title</h5>
            <a class="card-link" target="_blank" href="@item.Url">@item.Url</a>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" name="Title" value="@item.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" name="Href" value="@item.Url" class="form-control" />
                    <span asp-validation-for="Hits" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}


@*<script type="module" src="~/js/NewsFeed.js">
    </script>*@
