@model IEnumerable<Procrastinate.Models.SavedArticles>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model) {

    <div class="card">
        <div class="card-body">
            <h5>@item.Title</h5>
            <a class="card-link" target="_blank" href="@item.Href">@item.Href</a>
            <br />
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.SavedArticlesId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.SavedArticlesId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SavedArticlesId">Delete</a>
        </div>
    </div>

}
